    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:27
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-arm:before { content: "\f100"; }
.flaticon-athletic-strap:before { content: "\f101"; }
.flaticon-barbell:before { content: "\f102"; }
.flaticon-barbell-1:before { content: "\f103"; }
.flaticon-blender:before { content: "\f104"; }
.flaticon-bosu-ball:before { content: "\f105"; }
.flaticon-boxing-mannequin:before { content: "\f106"; }
.flaticon-brawn:before { content: "\f107"; }
.flaticon-dressing-room:before { content: "\f108"; }
.flaticon-drug:before { content: "\f109"; }
.flaticon-dumbbell:before { content: "\f10a"; }
.flaticon-dumbbell-1:before { content: "\f10b"; }
.flaticon-dumbbell-2:before { content: "\f10c"; }
.flaticon-dumbbell-3:before { content: "\f10d"; }
.flaticon-exercise-bike:before { content: "\f10e"; }
.flaticon-fitness-bracelet:before { content: "\f10f"; }
.flaticon-fresh-juice:before { content: "\f110"; }
.flaticon-gymnast-mat:before { content: "\f111"; }
.flaticon-gymnast-rings:before { content: "\f112"; }
.flaticon-gymnastic-ball:before { content: "\f113"; }
.flaticon-gymnastic-roller:before { content: "\f114"; }
.flaticon-heart:before { content: "\f115"; }
.flaticon-horizontal-bar:before { content: "\f116"; }
.flaticon-iron-shoots:before { content: "\f117"; }
.flaticon-list:before { content: "\f118"; }
.flaticon-lungs:before { content: "\f119"; }
.flaticon-music-player:before { content: "\f11a"; }
.flaticon-no-drugs:before { content: "\f11b"; }
.flaticon-no-fast-food:before { content: "\f11c"; }
.flaticon-phytonutrients:before { content: "\f11d"; }
.flaticon-plastic-bottle:before { content: "\f11e"; }
.flaticon-press-simulator:before { content: "\f11f"; }
.flaticon-punching-bag:before { content: "\f120"; }
.flaticon-punching-bag-1:before { content: "\f121"; }
.flaticon-scales:before { content: "\f122"; }
.flaticon-shoe:before { content: "\f123"; }
.flaticon-shorts:before { content: "\f124"; }
.flaticon-shower:before { content: "\f125"; }
.flaticon-skipping-rope:before { content: "\f126"; }
.flaticon-sports-shirt:before { content: "\f127"; }
.flaticon-sportswear:before { content: "\f128"; }
.flaticon-stairs:before { content: "\f129"; }
.flaticon-standing-punching-ball:before { content: "\f12a"; }
.flaticon-step-platform:before { content: "\f12b"; }
.flaticon-stopwatch:before { content: "\f12c"; }
.flaticon-stretching-punching-ball:before { content: "\f12d"; }
.flaticon-trainer-rod:before { content: "\f12e"; }
.flaticon-treadmill:before { content: "\f12f"; }
.flaticon-waist:before { content: "\f130"; }
.flaticon-weight:before { content: "\f131"; }
    
    $font-Flaticon-arm: "\f100";
    $font-Flaticon-athletic-strap: "\f101";
    $font-Flaticon-barbell: "\f102";
    $font-Flaticon-barbell-1: "\f103";
    $font-Flaticon-blender: "\f104";
    $font-Flaticon-bosu-ball: "\f105";
    $font-Flaticon-boxing-mannequin: "\f106";
    $font-Flaticon-brawn: "\f107";
    $font-Flaticon-dressing-room: "\f108";
    $font-Flaticon-drug: "\f109";
    $font-Flaticon-dumbbell: "\f10a";
    $font-Flaticon-dumbbell-1: "\f10b";
    $font-Flaticon-dumbbell-2: "\f10c";
    $font-Flaticon-dumbbell-3: "\f10d";
    $font-Flaticon-exercise-bike: "\f10e";
    $font-Flaticon-fitness-bracelet: "\f10f";
    $font-Flaticon-fresh-juice: "\f110";
    $font-Flaticon-gymnast-mat: "\f111";
    $font-Flaticon-gymnast-rings: "\f112";
    $font-Flaticon-gymnastic-ball: "\f113";
    $font-Flaticon-gymnastic-roller: "\f114";
    $font-Flaticon-heart: "\f115";
    $font-Flaticon-horizontal-bar: "\f116";
    $font-Flaticon-iron-shoots: "\f117";
    $font-Flaticon-list: "\f118";
    $font-Flaticon-lungs: "\f119";
    $font-Flaticon-music-player: "\f11a";
    $font-Flaticon-no-drugs: "\f11b";
    $font-Flaticon-no-fast-food: "\f11c";
    $font-Flaticon-phytonutrients: "\f11d";
    $font-Flaticon-plastic-bottle: "\f11e";
    $font-Flaticon-press-simulator: "\f11f";
    $font-Flaticon-punching-bag: "\f120";
    $font-Flaticon-punching-bag-1: "\f121";
    $font-Flaticon-scales: "\f122";
    $font-Flaticon-shoe: "\f123";
    $font-Flaticon-shorts: "\f124";
    $font-Flaticon-shower: "\f125";
    $font-Flaticon-skipping-rope: "\f126";
    $font-Flaticon-sports-shirt: "\f127";
    $font-Flaticon-sportswear: "\f128";
    $font-Flaticon-stairs: "\f129";
    $font-Flaticon-standing-punching-ball: "\f12a";
    $font-Flaticon-step-platform: "\f12b";
    $font-Flaticon-stopwatch: "\f12c";
    $font-Flaticon-stretching-punching-ball: "\f12d";
    $font-Flaticon-trainer-rod: "\f12e";
    $font-Flaticon-treadmill: "\f12f";
    $font-Flaticon-waist: "\f130";
    $font-Flaticon-weight: "\f131";